---
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QW0ZXEQ880"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QW0ZXEQ880');
</script>



<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.data.settings.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="favicon3.ico">  
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 

  <style>
    

    h1, h2{
      font-family: 'Rubik', sans-serif;
      letter-spacing: 0.1em
    }

    
    
 
    




  </style>
  
</head>

<body>

{% include header.html %}

{% include about.html %}

{% include projects.html %}

{% include experience.html %}

{% include footer.html %}


<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>

</body>
</html>