.alt-section
  background: #e5eaee
  
  h2
    text-align: center
    color: white
    padding: 50px

  h3
    text-align: center
    color: white
    font: 
      size: 30px
      weight: 100

  .thumb-container
    max-width: 960
    margin: 0px auto 
    padding: 20px
    +clearfix

    .thumb-unit
      display: block
      width: 33%
      float: left
      position: relative
      padding-top: 20%
      overflow: hidden

      @media screen and (max-width: 760px)
        width: 50%
        padding-top: 20%

      background:
        position: center center
        repeat: no-repeat 
        size: cover

      .thumb-overlay
        +position(absolute, 100% 0px null 0px)
        height: 100%
        background: fade-out(#000, .7)
        text-aligh: center 
        +transition(300ms)

        strong
          display: block
          padding: 5px 20px 
          color: white
          font-weight: 400
          text-transform: uppercase
          font-size: 20px
          line-height: 2.5
          text-align: center

        p 
          padding: 5px 20px
          color: white
          font-weight: 400
          font-size: 10px
          line-height: 0.0
          text-align: center
           

      &:hover .thumb-overlay
        +position(absolute, 0% 0px null 0px)