<experience>

  <div class="wrapper">

    <h2 id="experience">Recent Experience</h2>

    <body>

      <div class="timeline">
        
        <ul>

          <li>
            <div class="description">
              <h4>05/2021 - 09/2021</h4>
              <h2>Sandia National Labs</h2>
              <h3>Aerial Robotics Perception Engineer Intern</h3>
            </div>

          </li>

          <li>
            <div class="description">
              <h4>12/2020 - 05/2021</h4>
              <h2>RoboDel</h2>
              <h3>Perception Engineer Intern</h3>
              <p> Developed SLAM and computer vision algorithms for autonomous delivery robot, in C++ & ROS. <br> Implemented LiDAR and stereo cameras to sense environment & localize position in city streets. <br> </p>
            </div>

          </li>

          <li>
            <div class="description">
              <h4>12/2018 - 06/2019</h4>
              <h2>Robotics & Intelligent <br> Vehicles Research Lab</h2>
              <h3>Robotics Research Assistant</h3>
              <p>Developed object detection and recognition to assist the elderly and disabled in cleaning up a room, with Toyota’s HSR robot, using C++, ROS, OpenCV . <br> </p>
            </div>

          </li>

          <li>
            <div class="description">
                <h4>07/2018 - 01/2019</h4>
                <h2>iRobot Corporation</h2>
                <h3>Robotics Engineer Intern</h3>
                <p>Performed signal processing and sensor fusion for testing of sensors within the Roomba i7+.<br> Determined solution to docking failures affecting 30% of Terras, using computer vision.</p>
            </div>


          </li>

          <li>
            <div class="description">
              <h4>07/2017 - 01/2018</h4>
              <h2>Insulet Corporation</h2>
              <h3>Robotics & Automation Engineer Intern</h3>
              <p>Developed Bluetooth compatability in automated insulin pumps, for use w/ smartphones, using C++. <br> Designed robotic fixtures in new $100 million facility, using ABB robots & LabView.</p>
            </div>

          </li>

          <div style="clear: both"></div>

        </ul>


      </div>

    </body>

  </div>

</experience>