<experience>

  <div class="wrapper">

    <h2 id="experience">Recent Experience</h2>

    <body>

      <div class="timeline">
        
        <ul>

          <li>
            <div class="content">
              <h4>01/2020 - 5/2020</h4>
              <h2>Robotics & Intelligent <br> Vehicles Research Lab</h2>
              <h3>Research Assistant</h3>
              <p>jefnelfelafelkfmselfmelfmeklfmeklfmlkemfl <br> emfeklfmelkfaelfawejlfn</p>
            </div>

          </li>

          <li>
            <div class="content">
                <h4>01/2020 - 5/2020</h4>
                <h2>iRobot Corporation</h2>
                <h3>Electrical Engineer Intern</h3>
                <p>jefnelfelafelkfmselfmelfmeklfmeklfmlkemf <br> lemfeklfmelkfaelfawejlfn</p>
            </div>


          </li>

          <li>
            <div class="content">
              <h4>01/2020 - 5/2020</h4>
              <h2>Insulet Corporation</h2>
              <h3>Robotics & Automation Engineer Intern</h3>
              <p>jefnelfelafelkfmselfmelfmeklfmeklfmlkemfl</p>
              <p>lemfeklfmelkfaelfawejlfn</p>
            </div>

          </li>

          <li>
            <div class="content">
              <h4>01/2020 - 5/2020</h4>
              <h2>Jacobs Engineering Group</h2>
              <h3>Electrical Engineer Intern</h3>
              <p>jefnelfelafelkfmselfmelfmeklfmeklfmlkemf <br> lemfeklfmelkfaelfawejlfn</p>
            </div>

          </li>

          <div style="clear: both"></div>

        </ul>


      </div>

    </body>

  </div>

</experience>