<experience>

  <div class="wrapper">

    <h2 id="experience">Recent Experience</h2>

    <body>

      <div class="timeline">
        
        <ul>

          <li>
            <div class="description">
              <h4>02/2022 - Present</h4>
              <h2>Bosch</h2>
              <h3>Automated Driving Software Engineer</h3>
              <p>Developing algorithms for the classification of road environments in autonomous vehicles, using C++. Analyzed and preprocessed sensor signal data.   
              </p>
            </div>

          </li>

          <li>
            <div class="description">
              <h4>05/2021 - 09/2021</h4>
              <h2>Sandia National Labs</h2>
              <h3>Machine Learning Engineer Intern</h3>
              <p>Analyzed RNN position estimates of an autonomous aerial vehicle, using Python. Developed convolutional neural net to detect and classify 3D point cloud objects, using PyTorch.
              </p>
            </div>

          </li>

          <li>
            <div class="description">
                <h4>07/2018 - 01/2019</h4>
                <h2>iRobot Corporation</h2>
                <h3>Robotics Engineer Intern</h3>
                <p>Designed circuit board to autonomate testing of sensor signals and reduced testing time by 50%.<br> Determined solution to docking failures affecting 30% of Terras, using computer vision.</p>
            </div>

          </li>


          <li>
            <div class="description">
              <h4>12/2018 - 06/2019</h4>
              <h2>Robotics & Intelligent <br> Vehicles Research Lab</h2>
              <h3>Robotics Research Assistant</h3>
              <p>Developed object detection and recognition to assist the elderly and disabled in cleaning up a room, with Toyota’s HSR robot, using Yolo and ROS.<br> </p>
            </div>

          </li>


          <li>
            <div class="description">
              <h4>07/2017 - 01/2018</h4>
              <h2>Insulet Corporation</h2>
              <h3>Robotics & Automation Engineer Intern</h3>
              <p>Developed Bluetooth capability in automated insulin pumps, for use w/ smartphones. <br> Assisted in design of robot manufacturing process, using ABB robots & LabView.</p>
            </div>

          </li>

          <div style="clear: both"></div>

        </ul>


      </div>

    </body>

  </div>

</experience>