

<project id="project">

  <div class=image>

    <h2 id="projects">Projects</h2>

    <h3 id ="projects">Checkout my latest endeavors on Github!</h3>

    <div class="link">
      <a href="{{ site.data.settings.git_link }}" class="github">
        <i class="fa fa-github"></i>
        <span class=>Github</span>
      </a>
      
    </div>

  </div>

  <div class="thumb-container">

    {% for project in site.data.settings.projects %}

    <a href={{project.link}} class="thumb-unit" style="background-image: url(/assets/img/projects/{{project.folder}}/thumb.jpg);">
      
      <div class="thumb-overlay" >

        <strong>{{ project.name }}</strong>
      
        <p>{{ project.description }}</p>

        <div class="zoom-icon"></div>

      </div>

    </a> 

    {% endfor %}

  </div>

 
</project>